// variables example below ;

/** BACKGROUND COLORS **/

$bg-color-1: #000039;
$bg-box-color-1: #242467;
$bg-button-color-1: #2e2f5d;
$bg-button-color-2: #4f5178;
$bg-input-focus-1: #eaecfc;
$textarea-border-color-1: #4f5178;


/** FONTS AND TEXT COLORS**/

$text-font-1: 'Roboto', sans-serif;

$text-color-1: #ffffff;
$text-color-2: #000000;

