// variables example below ;
$gradient-color-1: #3831b2;
$gradient-color-2: #120f3c;
$bg-color: #1c1c64;
$font-color: #fff;
$primary-color: #008ed6;
$secondary-blue: #0081ff;
$dark-overlay: rgba(0, 0, 0, 0.7);
$icon-size: 30px;
$blue-color: #0172e1;
