.section {
  
  position: relative;
  &__contact {

  @media(max-width: 1200px){
    padding-top: 100px;
  }
    //display: none !important;


    width: 100%;
    color: $text-color-1;
    &__text {
      span {
        display: block;
        font-size: 0.9em;
        font-family: $text-font-1;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.7px;
      }
      p {
        position: relative;
        z-index: 1;
        span:nth-child(3),
        span:nth-child(6),
        span:nth-child(8),
        span:nth-child(10) {
          margin: 20px 0 0 0;
        }
      }
      button {
        @include btn-base($bg-button-color-1, $text-color-1);
      }
      svg {
        position: absolute;
        z-index: 1;
        top: -37px;
      }
      .path {
        stroke-dasharray: 1200;
        stroke-dashoffset: 1200;
        animation: dash 2.5s linear forwards;
      }
      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  &__box {
    width: 500px;
    height: 150px;
    background: $bg-box-color-1;
    z-index: 0;
    position: relative;
    left: -25px;
    bottom: -76px;
    transform: skew(3deg) rotateZ(2deg);
    img {
      margin: 23px 0 0 60px;
      width: 110px;
      height: 115px;
      transform: skew(-3deg) rotateZ(-2deg);
    }
    &::after {
      content: "";
      position: absolute;
      transform: rotateZ(240deg);
      z-index: 1;
      width: 0;
      height: 0;
      border-top: 90px solid transparent;
      border-bottom: 90px solid transparent;
      border-left: 90px solid $bg-color-1;
      top: -115px;
      left: -10px;
    }
    &::before {
      content: "";
      position: absolute;
      transform: rotateZ(60deg);
      z-index: 1;
      width: 0;
      height: 0;
      border-top: 90px solid transparent;
      border-bottom: 90px solid transparent;
      border-left: 90px solid $bg-color-1;
      right: -20px;
      top: 90px;
    }
    &__text {
      font-family: $text-font-1;
      transform: skew(-3deg) rotateZ(-2deg);
      margin: 0 0 0 35px;
      h4 {
        font-size: 1.2em;
        margin: 25px 0 0 0;
      }
      p {
        span {
          display: block;
          margin: 13px 0 0 0;
          font-size: 0.9em;
        }
        &::after,
        &::before {
          content: none;
        }
      }
    }
  }
  &__form {
    font-family: $text-font-1;
    margin: 0 0 0 45px;
    h4 {
      font-size: 1.1em;
      margin: 100px 0 0 0;
    }

    h5 {
      font-size: 1em;
      margin: 20px 0 0 0;
    }
    button {
      @include btn-base($bg-button-color-1, $text-color-1);
    }

    button:nth-child(4) {
      margin: 0 0 0 10px;
    }
    .form {
      z-index: 2;
      position: relative;
      margin: 20px 0 0 0;
      height: 280px;
      width: 520px;
      &__items-left,
      &__items-right {
        width: 200px;
        display: none;
        .form-item {
          display: flex;
          flex-direction: column;
          &--submit.btn-animate {
            animation: button-animation 2s infinite;
          }
          &--submit:focus {
            background-color: $bg-button-color-1;
          }
          label {
            display: none;
          }
          input,
          textarea {
            margin: 12px 0 0 0;
            border: 1px solid $textarea-border-color-1;
            outline: 0;
            font-family: $text-font-1;
            font-size: 0.8em;
            height: 23px;
            padding: 0 0 0 5px;
            height: 30px;
          }
          input:focus {
            // background: $bg-button-color-1;
          }
        }
      }
      &__items-right {
        width: 300px;
        margin: 0 0 0 30px;
        .form-item {
          textarea {
            height: 198px;
            padding: 8px 0 0 5px;
          }
          input {
            @include btn-base($bg-button-color-1, $text-color-1);
            align-self: center;
          }
          @keyframes button-animation {
            0% {
              top: 5px;
            }
            25% {
              top: 0px;
            }
            50% {
              top: 5px;
            }
            75% {
              top: 0px;
            }
            100% {
              top: 5px;
            }
          }
        }
      }
      @media(max-width: 600px){
        width: 100%;
        height: auto;
      }
      @media(max-width: 1200px){
        width: 100%;
        height: auto;
      }
    }
  }
}
.recruitment-container{
  margin-bottom: 100px;
}
.recruitment-container--2{
  overflow: hidden!important;
  display: block;
}
// .svg-4 {
//   display: none;
// }

@media(max-width: 1200px){
  .recruitment-container{
    text-align: center;
  }
  .svg-4 {
    display: none !important;
  }
}

@media (max-width: 1200px) and (min-width: 768px){
  .section__box {
    margin: auto;
  }
}
#click3{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
@media (max-width: 1200px) {
  #click3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .recruitment__title{
    text-align: center;
    padding-bottom: 20px;
    @media(max-width:390px ){
      font-size: 40px!important;
    }
  }
  .section__contact {
    flex-direction: column;
    display: block!important;
  }

  .section__contact__text {
    margin-bottom: 10px;
    button {
      background-color: #2e2f5d;
      padding: 15px 15px 20px 20px;
    }
  }

  .section__form {
    text-align: center;
    padding-top: 40px;
    margin-left: 0px;
  }

  .__about {
    display: none !important;
  }

  .__about__motto {
    font-size: 18px !important;
    font-weight: 900;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .recruitment {
    display: block !important;
    //margin-bottom: -15px;
    font-size: 48px;
    opacity: 0.3;
    font-family: $text-font-1;
    font-weight: 600;
  }
  .svg-4 {
    display: none !important;
  }

#contactText {
  text-align: center;
  @media(max-width:390px ){
    font-size: 40px!important;
  }
}

#form-object {
  left: 100px;
}

}

@media (max-width:765px){
#form-object {
left: 0px;
  }
}

@media (max-width:550px){
  .section__box {
    margin-left: auto!important;
    margin-right: auto!important;
    background-color: $bg-color-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    margin-top: -60px;
    width: 0px;
    text-align: center;
  } &::after {
    display: none;
  } &::before {
    display: none;
  }
  #formMessage {
    width: 230px;
    @media(max-width: 550px){
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width:500px){
  .section__box {
    margin-top: -60px;
  }

  .section__form {
  flex-direction: column;
  margin: 0px;
  }



  #company-button {
    margin-top: 5px;
    right: 5px;
  }

  #form-object {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -60px;
    @media(max-width: 500px){
      left: 0;
      margin-bottom: 50px;
      width: 100%;
    }
  }

  #formMessage {
    width: 280px;
    @media(max-width: 500px){
      width: 100%;
    }
  }
  #form-contact{
    @media(max-width: 500px){
      width: 100%;
    }
  }
  #form-content{
    @media(max-width: 500px){
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width:480px){
  // .section__box {
  //   left: 170px;
  //  }
}

@media (max-width:420px){
  #form-object {
    left: -60px;
  }

  .section__box {
    margin-top: -60px;
  }
}

@media (max-width:380px){
  #form-object {
    left: -90px;
  }
}

@media (max-width:360px){
  #form-object {
    left: -110px;
  }
}

@media (max-width:330px){
  #form-object {
    left: -120px;
  }
}
