.modal {
  font-family: $text-font-1;
  color: $text-color-2;
  z-index: 999999999999999;
  .close {
    &:focus {
      outline: none;
    }
  }
  .btn,
  .btn-primary,
  .btn-secondary {
    @include btn-base($bg-button-color-1, $text-color-1);
    margin: 0 0 0 15px;
  }
}
.modal-first {
  .modal-body {
    .form-recruitment {
      .form-item {
        label {
          margin: 6px 0 6px 0;
        }
        input {
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid #777aad;
          outline: 0;
          font-family: $text-font-1;
          font-size: 1em;
          padding: 0px 5px 5px 0px;
          margin: 15px 0 15px 17px;
        }
        input[type="text"],
        input[type="email"],
        input[type="number"],
        textarea {
          width: 100%;
          padding: 12px 17px;
          margin: 15px 0;
          border: 2px solid #ccc;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          outline: none;
          background: white;
          &:focus {
            border: 2px solid #555;
          }
        }
        textarea {
          @extend input;
          height: 100px;
        }
        &__row:nth-child(2) {
          margin: 15px 0 0 0;
        }
        &__row:nth-child(3) {
          margin: 15px 0 15px 0;
        }
        &__row {
          input[type="radio"] {
            margin: 0 0 0 15px;
            cursor: pointer;
            width: 18px;
            height: 18px;
          }
          span {
            position: relative;
            bottom: 4px;
            left: 2px;
          }
        }
        &__row-checkbox-departmentChoice,
        &__row-checkbox-projectRecruitment {
          input {
            margin: 10px 0px 10px 15px;
            cursor: pointer;
            width: 20px;
            height: 20px;
          }
          span {
            position: relative;
            left: 5px;
            bottom: 4px;
          }
        }
        p {
          font-size: 0.8em;
          margin: 10px 0 6px 18px;
          color: grey;
        }
      }
    }
  }
}

.modal-second {
  .modal-dialog {
    font-family: $text-font-1;
    font-size: 1.2em;
    .modal-content {
      .modal-body {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .modal-footer {
        display: flex;
        justify-content: center;
      }
    }
  }
}
#exampleModalCenter2 {
  display: block;
}
