.navigation {
  position: fixed;
  left: 0;
  right: 0;
  text-align: right;
  z-index: 200;
  transition: background-color 0.4s linear;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__navbar {
    @media (max-width: 575px) {
      background-color: rgba(33, 29, 29, 0.7);
      min-height: 60px;
      padding-bottom: 20px;
    }
  }
  &__toggler {
    display: none;
    @media (max-width: 575px) {
      border-top: 2px solid white;
      display: block;
      position: absolute;
      right: 3%;
      z-index: 20;
      max-width: 35px;
      top: 20px;
    }
    ::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 2px solid white;
      width: 100%;
    }
    ::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      border-top: 2px solid white;
      width: 100%;
      transform: translateY(6px);
    }
  }
  &.scrolled {
    background-color: rgba(33, 29, 29, 0.6);
    transition: background-color 0.3s linear;
    @media (max-width: 575px) {
      background-color: transparent;
    }
  }
  &__navbar {
    text-align: right;
    z-index: 3;
    width: 100%;
  }
  &__primary {
    @media (max-width: 575px) {
      text-align: center;
      padding-top: 130px;
    }
  }
  &__logo {
    width: 11%;
    margin-right: 20px;
    @media (max-width: 766px) {
      width: 5%;
      max-width: 30px;
      margin-left: 10px;
      min-width: 25px;
    }
    @media (max-width: 575px) {
      margin: 35px 0 10px 0;
    }
  }
  &__body {
    justify-content: flex-end;
    // padding-right: 35px;
  }
  &__item {
    margin: 0 8px;
    letter-spacing: 0.7px;
    font-size: 0.9rem;
    font-family: $text-font-1;
    @media (max-width: 575px) {
      max-width: 130px;
      // margin: auto;
      text-align: left;
    }
    a {
      color: #fff;
      position: relative;
      transition: transform 0.2s linear;
      transform: scale(1);
    }
    a:hover {
      transform: scale(1.13);
      transition: transform 0.2s linear;
      @media (max-width: 575px) {
        transform: none;
      }
    }
    &--first {
      @media (max-width: 575px) {
        margin-left: 0;
      }
    }
    &--first.active {
    }
    &--first.active::after {
      text-decoration: none;
      display: none;
    }
    & .active {
      position: relative;
      transition: all 0.2s linear;
    }
    & .active::after {
      transition: all 0.3s;
      // opacity: 0;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      content: "";
      width: 90%;
      margin: auto;
      border-bottom: 2px solid white;
      transform: translateX(0px);
      // display: none !important;
      transition: all 2s linear;
      @media (max-width: 575px) {
        border-bottom: none;
      }
    }
    // & .active {
    //   position: relative;
    //   transition: all 0.2s ease-in-out;
    //   border-bottom: 2px solid white;
    // }
  }
}
.no-transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}
