.partners {
  font-family: "Roboto";
    //margin-bottom: 110px;

// START ------ OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY
@include phone {
  display: none !important;
}
// END------ OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY
}




.navy_bg {
  border-left: 450px solid #000039;
  border-top: 230px solid #000039;
  //border-right: 2100px solid transparent;
  -webkit-clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 67%, 29% 100%, 0 100%, 0% 70%, 0% 30%);
clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 67%, 29% 100%, 0 100%, 0% 70%, 0% 30%);
  color: white;
  position: absolute;
  left: 0;
  z-index: 1;

  p {
    left: -220px;
    position: absolute;
    top: -160px;
    width: 600px;
  }
}

.white_bg {
  background-color: white;
  height: 900px;

  p {
    color: black;
  }
}

.second {
  width: 80%;;
}

.col-4 {
  color: black;
  top: 690px;
}

.col-2 {
  color: black;
  top: 670px;

  &:nth-of-type(1) {
    left: 60px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
animation-iteration-count: infinite;
animation-name: example;
animation-duration: 5s;
} &:hover {
animation-duration: 0s;
cursor: pointer;
}


  &:nth-of-type(2) {
    left: 70px;
    -webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    animation-name: example1;
    animation-duration: 5s;
    } &:hover {
      animation-duration: 0s;
      cursor: pointer;
  }

  &:nth-of-type(3) {
    left: 30px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 5s;
    } &:hover {
      animation-duration: 0s;
      cursor: pointer;
  }

  &:nth-of-type(4) {
    right: 30px;
    -webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    animation-name: example1;
    animation-duration: 5s;
    } &:hover {
      animation-duration: 0s;
      cursor: pointer;
  }
}

.img {
  opacity: 0.7;
  position: absolute;
  width: 1200px;
  z-index: 0;
}



.third {
  color: grey;
  font-size: 140px;
  font-weight:bold;
  position: absolute;
  top: 480px;
  //left: 250px;
  opacity: 0.15;

// START ------ OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY

  @include phone{
    display: none;
  }

// END------ OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY OLA ZMIANY
}



#partner1, #partner2, #partner3, #partner4 {
    text-align: justify;
}

@keyframes example {
    0%   {top:680px;}
    25%  {top:670px;}
    50%  {top:680px;}
    75%  {top:670px;}
    100%  {top:680px;}
  }

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {top:680px;}
  25%  {top:670px;}
  50%  {top:680px;}
  75%  {top:670px;}
  100%  {top:680px;}
}

@keyframes example1 {
  0%   {top:670px;}
  25%  {top:680px;}
  50%  {top:670px;}
  75%  {top:680px;}
  100%  {top:670px;}
}

    /* Safari 4.0 - 8.0 */
@-webkit-keyframes example1 {
  0%   {top:670px;}
  25%  {top:680px;}
  50%  {top:670px;}
  75%  {top:680px;}
  100%  {top:670px;}
}

.partnerSmallerLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
