.partners {
  font-family: "Roboto";
  margin-bottom: 110px;

}

.navy_bg {
  border-left: 450px solid #000039;
  border-top: 277px solid #000039;
  //border-right: 2100px solid transparent;
  color: white;
  position: absolute;
  left: 0;
  z-index: 1;

  p {
    left: -150px;
    position: absolute;
    top: -140px;
    width: 600px;
  }
}

.white_bg {
  background-color: white;
  height: 650px;

  p {
    color: black;
  }
}

.second {
  width: 80%;;
}

.col-4 {
  color: black;
  top: 500px;
}

.col-2 {
  color: black;
  top: 470px;

  &:nth-of-type(1) {
    left: 60px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
animation-iteration-count: infinite;
animation-name: example;
animation-duration: 5s;
} &:hover {
animation-duration: 0s;
cursor: pointer;
}


  &:nth-of-type(2) {
    left: 80px;
    -webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    animation-name: example1;
    animation-duration: 5s;
    } &:hover {
      animation-duration: 0s;
      cursor: pointer;
  }

  &:nth-of-type(3) {
    left: 40px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 5s;
    } &:hover {
      animation-duration: 0s;
      cursor: pointer;
  }

  &:nth-of-type(4) {
    right: 20px;
    -webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    animation-name: example1;
    animation-duration: 5s;
    } &:hover {
      animation-duration: 0s;
      cursor: pointer;
  }
}

.img {
  opacity: 0.7;
  position: absolute;
  width: 60%;
  z-index: 0;
}

.third {
  color: grey;
  font-size: 140px;
  font-weight:bold;
  left: 280px;
  position: relative;
  top: -30px;
  opacity: 0.3;

}

#partner1, #partner2, #partner3, #partner4 {
    text-align: justify;
}

@keyframes example {
    0%   {top:480px;}
    25%  {top:470px;}
    50%  {top:480px;}
    75%  {top:470px;}
    100%  {top:480px;}
  }

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {top:480px;}
  25%  {top:470px;}
  50%  {top:480px;}
  75%  {top:470px;}
  100%  {top:480px;}
}

@keyframes example1 {
  0%   {top:470px;}
  25%  {top:480px;}
  50%  {top:470px;}
  75%  {top:480px;}
  100%  {top:470px;}
}

    /* Safari 4.0 - 8.0 */
@-webkit-keyframes example1 {
  0%   {top:470px;}
  25%  {top:480px;}
  50%  {top:470px;}
  75%  {top:480px;}
  100%  {top:470px;}
}
