@mixin transform($x, $y) {
  -ms-transform: scale($x, $y); /* Internet Explorer and Microsoft Edge */
  -webkit-transform: scale($x, $y); /* Safari */
  -moz-transform: scale($x, $y); /* Firefox */
  -o-animation: scale($x, $y); /* Opera 12+ */
  transform: scale($x, $y);
}

@mixin transform-origin($x, $y) {
  -ms-transform-origin: ($x + 0px) ($y + 0px); /* Internet Explorer and Microsoft Edge */
  -webkit-transform-origin: ($x + 0px) ($y + 0px); /* Safari */
  -moz-transform-origin: ($x + 0px) ($y + 0px); /* Firefox */
  -o-transform-origin: ($x + 0px) ($y + 0px); /* Opera 12+ */
  transform-origin: ($x + 0px) ($y + 0px);
}

@mixin animationBasicHover($animationName, $duration, $animationFillMode) {
  -ms-animation: $animationName $duration * 1s $animationFillMode; /* Internet Explorer and Microsoft Edge */
  -webkit-animation: $animationName $duration * 1s $animationFillMode; /* Safari 4+ */
  -moz-animation: $animationName $duration * 1s $animationFillMode; /* Fx 5+ */
  -o-animation: $animationName $duration * 1s $animationFillMode; /* Opera 12+ */
  animation: $animationName $duration * 1s $animationFillMode; /* IE 10+, Fx 29+ */
}

// Show and fade in .single-container__project-paragraphs__project-about animation
@keyframes showProjectAboutandButton {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


section.projects {
  font-family: "Roboto";
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  // width: 100vh overflows when 943px window

  @media (max-width: 575px) {
    margin-top: 390px;
  }
  @media (max-width: 760px) {
    margin-bottom: 340px;
  }

  @media (max-height: 820px) {
    margin-bottom: 200px;
  }
  
}

.projects-container {
  margin: 43px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 650px;
  max-width: 895px;

  @media (max-width: 669px) {
    min-width: 440px;
    max-width: 649px;
  }
  @media (max-width: 480px) {
    min-width: 390px;
  }
  @media (max-width: 403px) {
    min-width: 324px;
    max-width: 360px;
  }
}

.single-container,
.single-container__shape-1,
.single-container__shape-2 {
  height: 200px;
  width: 200px;

  // Shrink container at 480px screen width
  @media (max-width: 480px) {
    margin: 0;
    height: 170px;
    width: 170px;
  }
  @media (max-width: 403px) {
    margin: 0;
    height: 155px;
    width: 155px;
  }
  @media (max-width: 380px) {
    margin: 0;
    height: 140px;
    width: 140px;
  }
}


.single-container {
  margin: 5%;
  position: relative;

  @media (max-width: 1200px) {
    margin: 4%;
  }
  @media (max-width: 1100px) {
    margin: 2%;
  }
  @media (max-width: 669px) {
    margin: 1%;
  }
  @media (min-width: 381px) and (max-width: 403px) {
    margin-top: 18px;
  }
  &:hover .single-container__project-paragraphs__project-title {
    font-size: 21px;
    margin-top: -14%;
  }
  &:hover .single-container__shape-1,
  &:hover .single-container__shape-2 {
    @include transform(1.6, 1.6);
    background-size: 300px;
    transition: all 0.7s ease-in-out;
  }
  // Project hover transitions and animations triggers
  &:hover .single-container__project-paragraphs__project-about {
    margin-left: -40px;
    width: 270px;
    @include animationBasicHover(showProjectAboutandButton, 2, forwards);
  }
  &:hover .single-container__project-paragraphs__btn-more-about {
    @include animationBasicHover(showProjectAboutandButton, 2, forwards);
  }

  &__project-paragraphs {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 10;

    &__project-title {
      font-size: 24px;
      letter-spacing: 0.5px;
      color: white;
      text-align: center;
      margin-top: 23%;
      transition: all 0.6s ease-in-out;
    
      @media (max-width: 470px) {
        font-size: 20px;
        margin-top: 24%;    
      }
    }

    &__project-minititle {
      color: white;
      text-align: center;
      margin-top: 14px;
      font-size: 16px;
    
      @media (max-width: 470px) {
        margin-top: 11px;
        font-size: 15px;    
      }
    }

    &__project-about {
      opacity: 0;
      color: white;
      line-height: 1.1;
      margin-top: 14px;
      font-size: 16px;
      text-align: center;
      display: inline-block;
    }

    &__btn-more-about {
      margin: 17px auto 0 auto;
      padding-top: 4px;
      width: 80px;
      height: 26px;
      font-size: 16px;
      border: 1px solid white;
      border-radius: 1px;
      text-align: center;
      color: white;
      opacity: 0;
      position: relative;
      display: block;
      transition: background-color 0.3s linear;
    
      &:hover {
        text-decoration: none;
        color: black;
        background-color: #fff;
      }
    }
  }
  
  &__shape-1,
  &__shape-2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    margin: auto;
    max-width: 400px;
    transition: all 0.7s ease-in-out;
    transition-delay: 0.2s;
  }
  &__shape-1 {
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 100%,
      70% 100%,
      30% 100%,
      0% 70%,
      0 0
    );
  }
  &__shape-2 {
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 0,
      100% 70%,
      70% 100%,
      30% 100%,
      0 100%,
      0% 30%
    );
  }
}


#devhouse-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../assets/images/projects_photos/devhouse.png");
}
#thinkit-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../assets/images/projects_photos/thinkit.png");
}
#lead-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../assets/images/projects_photos/leadinit.png");
}
#startup-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../assets/images/projects_photos/startup.png");
}
#bootcamp-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../assets/images/projects_photos/bootcamp.png");
}
#twoj-projekt-background {
  background-color: #0f0f4d;
}


//------one container--id------------------
#devhouse {
  left: -1vw;
  top: -20px;  
  &:hover {
    z-index: 9;
  }

  @media (max-width: 1100px) {
    top: -1vh; 
  }
}

#thinkit {
  top: 2vh;
  &:hover {
    z-index: 9;
  }

  @media (max-width: 1100px) {
    top: 1vh;
  }
  @media (max-width: 669px) {
    flex-basis: 1;
  }
}

#lead {
  right: -21px;
  top: -1vh;
  &:hover {
    z-index: 9;
  }
  @media (max-width: 1100px) {
    right: -1vw;
  }
  @media (max-width: 669px) {
    right: 0;
  }
}

#startup {
  top: 3vh;
  &:hover {
    z-index: 9;
  }

  @media (max-width: 1100px) {
    top: 2vh;
  }
  @media (max-width: 669px) {
    flex-basis: 1;
  }

}

#bootcamp {
  &:hover {
    z-index: 11;
  }
}

#twoj-projekt {
  top: -2vh; 
    .single-container__project-paragraphs__project-about {
    margin-left: -12px;
    width: 220px;
  }

  @media (max-width: 1100px) {
    top: 3vh; 
  }
  @media (max-width: 669px) {
    flex-basis: 1;
    top: 4vh; 
  }
  //hide "Zrealizuj swoj projekt"
  @media (max-width: 480px) {
    p:nth-child(2){
      display: none;
    }
  }
}





// section background-------------------------section background--------------------------

.giant-header-projects {
  // display: none;

  color: white;
  font-weight: bold;
  letter-spacing: 7px;
  opacity: 0.07;
  font-size: 108px;
  position: absolute;
  right: 41vw;
  top: 45vh;
  z-index: -1;

  @media (max-width: 1200px) {
    font-size: 98px;
    right: 31vw;
    top: 48vh;
  }
  @media (max-width: 767px) {
    font-size: 80px;
    right: 57px;
    top: 30px;
  }
  @media (max-width: 645px) {
    opacity: 0.2;
    font-size: 72px;
    right: 59px;
    top: 40px;
  }
  @media (max-width: 575px) {
    opacity: 0.4;
    font-size: 48px;
    right: 3vw;
    top: 40px;
  }
}

.projects-background {
  position: absolute;

  &__svg-1 {
    position: absolute;
    bottom: -300px;
    right: -200px;
  
    display: none;
  
    &__path-1 {
      stroke-dasharray: 1600;
      stroke-dashoffset: 1600;
      animation: dash 6s linear forwards;
    }
  }
  
  &__svg-2 {
    position: absolute;
    top: -220px;
  
    display: none;
  
    &__path-2 {
      stroke-dasharray: 1700;
      stroke-dashoffset: 1700;
      animation: dash 9.5s linear forwards;
      animation-delay: 1.9s;
    }
  }
}
