@mixin transform($x, $y) {
  -ms-transform: scale($x, $y); /* Internet Explorer and Microsoft Edge */
  -webkit-transform: scale($x, $y); /* Safari */
  -moz-transform: scale($x, $y); /* Firefox */
  -o-animation: scale($x, $y); /* Opera 12+ */
  transform: scale($x, $y);
}

@mixin transform-origin($x, $y) {
  -ms-transform-origin: ($x + 0px) ($y + 0px); /* Internet Explorer and Microsoft Edge */
  -webkit-transform-origin: ($x + 0px) ($y + 0px); /* Safari */
  -moz-transform-origin: ($x + 0px) ($y + 0px); /* Firefox */
  -o-transform-origin: ($x + 0px) ($y + 0px); /* Opera 12+ */
  transform-origin: ($x + 0px) ($y + 0px);
}

@mixin animationBasicHover($animationName, $duration, $animationFillMode) {
  -ms-animation: $animationName $duration * 1s $animationFillMode; /* Internet Explorer and Microsoft Edge */
  -webkit-animation: $animationName $duration * 1s $animationFillMode; /* Safari 4+ */
  -moz-animation: $animationName $duration * 1s $animationFillMode; /* Fx 5+ */
  -o-animation: $animationName $duration * 1s $animationFillMode; /* Opera 12+ */
  animation: $animationName $duration * 1s $animationFillMode; /* IE 10+, Fx 29+ */
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.projects {
  font-family: "Roboto";

  @media (max-width: 300px) { 
    position: relative;
    top: -22px;
  }

  @media (min-width: 301px) and (max-width: 499px) { 
    position: relative;
    top: 500px;
  }

  @media (min-width: 490px) and (max-width: 500px) { 
    position: relative;
    top: 160px;
  }

@media (min-width: 501px) and (max-width: 767px) { 
    position: absolute;
    top: 160px;
  }

  @media (min-width: 768px) and (max-width: 999px) {
    position: absolute;
    top: 350px;
  }
}

.projects_container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.project-paragraphs {
  position: absolute;
  margin: auto;
  height: 65px;
  top: 50;
  left: 0;
  z-index: 4;
  cursor: pointer;
}

// Project hover transitions and animations triggers
.singular-project-container {
  &:hover .project_title {
    font-size: 20px;
    margin-top: -12%;
  }

  &:hover #twoj-projekt-title {
    font-size: 20px;
    margin-top: -12%;
  }

  &:hover .projects-shape-1,
  &:hover .projects-shape-2,
  &:hover .projects-shape-3,
  &:hover .projects-shape-4,
  &:hover .projects-shape-5,
  &:hover .projects-shape-6 {
    @include transform(1.6, 1.6);
    z-index: 3;
    background-size: 300px;
    transition: all 0.7s ease-in-out;
  }

  &:hover .projects-shape-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url("../../assets/images/projects_photos/devhouse.png");
  }

  &:hover .projects-shape-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url("../../assets/images/projects_photos/thinkit.png");
  }

  &:hover .projects-shape-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url("../../assets/images/projects_photos/leadinit.png");
  }

  &:hover .projects-shape-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url("../../assets/images/projects_photos/startup.png");
  }

  &:hover .projects-shape-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url("../../assets/images/projects_photos/bootcamp.png");
  }

  &:hover .project-about {
    @include animationBasicHover(showProjectAboutandButton, 2, forwards);
  }

  &:hover .button-more-about-project {
    @include animationBasicHover(showProjectAboutandButton, 2, forwards);
  }
}

// Show and fade in .project-about animation
@keyframes showProjectAboutandButton {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-about {
  color: white;
  line-height: 1.1;
  text-align: center;
  margin-top: 14px;
  font-size: 16px;
  opacity: 0;
  display: inline-block;
}

.button-more-about-project {
  margin: 17px auto 0 auto;
  padding-top: 4px;
  width: 80px;
  height: 26px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 1px;
  text-align: center;
  color: white;
  opacity: 0;
  position: relative;
  display: block;
  transition: background-color 0.3s linear;

  &:hover {
    text-decoration: none;
    color: black;
    background-color: #fff;
  }
}

.projects-shape-1,
.projects-shape-2,
.projects-shape-3,
.projects-shape-4,
.projects-shape-5,
.projects-shape-6 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  margin: auto;
  height: 200px;
  width: 200px;
  max-width: 400px;
  z-index: 2;
  transition: all 0.7s ease-in-out;
  transition-delay: 0.2s;
  position: relative;

  @include phone {
      // max-width: 80%;
      // max-height: 80%;
      min-width: 180px;
      min-height: 180px;
    }
    
}

.projects-shape-1,
.projects-shape-6 {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 100%,
    70% 100%,
    30% 100%,
    0% 70%,
    0 0
  );
}
.projects-shape-2,
.projects-shape-3,
.projects-shape-4,
.projects-shape-5 {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 70%,
    70% 100%,
    30% 100%,
    0 100%,
    0% 30%
  );
}
.projects-shape-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../assets/images/projects_photos/devhouse.png");
}
.projects-shape-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../assets/images/projects_photos/thinkit.png");
}
.projects-shape-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../assets/images/projects_photos/leadinit.png");
}
.projects-shape-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../assets/images/projects_photos/startup.png");
}
.projects-shape-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../assets/images/projects_photos/bootcamp.png");
}
.project_title {
  font-size: 22px;
  color: white;
  text-align: center;
  margin-top: 20%;
  transition: all 0.6s ease-in-out;
}
.project-about-mini {
  color: white;
  text-align: center;
  margin-top: 14px;
  font-size: 16px;
}



//---PROJECT BOX-----PROJECT BOX-----PROJECT BOX-----PROJECT BOX------------------

#devhouse {
  position: absolute;
  // top: 0%;
  // right: 0%;
  // left: 0%;
  // bottom: 0%;
}


#thinkit {
  position: absolute;

}


.lead {
  position: absolute;

}


#startup {
  position: absolute;

}


#boot-camp {
  position: absolute;
 
}


.twoj-projekt {
  position: absolute;
  
}

//---PROJECT BOX-----PROJECT BOX-----PROJECT BOX-----PROJECT BOX-------------------




    .projects-shape-6 {
      background-color: #0f0f4d;
      background-image: none;
      height: 180px;
      width: 180px;
      max-width: 390px;
    }
    .button {
      left: 65px;
      opacity: 0;
      position: absolute;
      top: 120px;
      text-align: center;
      width: 50px;
    }




// section background
.section-projects-background {
  position: absolute;
}

.giant-header-projects {
  color: white;
  font-weight: bold;
  letter-spacing: 7px;
  opacity: 0.07;
  font-size: 119px;
  position: absolute;
  right: -89px;
  bottom: -94px;
  z-index: 1;


  @media (min-width: 1300px) and (max-width: 1510px) {
    right: -130px;
  }

  @media (min-width: 1000px) and (max-width: 1300px) {
    font-size: 109px;
    right: -275px;
    bottom: -90px;
  }

  @media (min-width: 768px) and (max-width: 999px) {
    font-size: 90px;
    right: -261px;
    top: -60px;
    position: absolute;
  }

  @media (max-width: 768px) {
    position: absolute;
    letter-spacing: 3px;
    opacity: 0.2;
    font-size: 42px;
    left: 24px;
    top: -1430px;
  }
}



.svg-1 {
  position: absolute;
  z-index: 1;
  bottom: -300px;
  right: -200px;
  display: none;
}
.path-1 {
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600;
  animation: dash 6s linear forwards;

  @media (max-width: 1300px) {
    display: none;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.svg-2 {
  position: absolute;
  z-index: 1;
  top: -220px;
  display: none;
}
.path-2 {
  stroke-dasharray: 1700;
  stroke-dashoffset: 1700;
  animation: dash 9.5s linear forwards;
  animation-delay: 1.9s;

  @media (max-width: 1300px) {
    display: none;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


// @media (max-width: 760px) {
//   .projects__first-row {
//     display: block;
//   }
//   .row {
//     display: block;
//   }
//   .projects__second-row {
//     display: block;
//   }
// }
