.section {

  position: relative;
  &__reference {

    // display: none !important;

    @media (max-width: 800px) {
      //display: none !important;
    }

    width: 100vw;
    height: 100vh;
    color: black;
    .mobile {
      display:none !important;

    }
    &__box-left {
      background: #ffffff;
      width: 700px;
      height: 650px;
      transform: skew(2deg);
      position: relative;
      top: 54px;
      right: 215px;
      &::after {
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 190px solid transparent;
        border-bottom: 190px solid transparent;
        border-left: 190px solid $bg-color-1;
        top: -125px;
        left: -100px;
      }
      &::before {
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 150px solid transparent;
        border-bottom: 150px solid transparent;
        border-left: 150px solid $bg-color-1;
        right: -65px;
        top: 470px;
      }
      .carousel {
        position: absolute;
        top: 60px;
        left: 210px;
        transform: skew(-2deg);
        &::after {
          content: "";
          position: absolute;
          z-index: 1;
          width: 70px;
          height: 457px;
          background-color: #fff;
          top: 133px;
          left: -213px;
        }
        .carousel-indicators {
          li,
          .active {
            width: 13px;
            height: 13px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        width: 450px;
        min-height: 430px;
        background: #fff;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        img:nth-child(1) {
          width: 100px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: block;
          margin: 3px 0 0 0;
        }
        p:nth-child(2) {
        }
        p {
          margin: 25px 0 0 0;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
    }
    &__box-right {
      svg {
        position: absolute;
        bottom: -235px;
        left: 30px;
        z-index: 2;
      }
      .path {
        stroke-dasharray: 1550;
        stroke-dashoffset: 1550;
        animation: dash 4s linear forwards;
      }
      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }
      .carousel {
        position: absolute;
        bottom: -220px;
        left: 100px;
        &::after {
          content: "";
          position: absolute;
          transform: rotateZ(225deg);
          z-index: 1;
          border-top: 115px solid transparent;
          border-bottom: 115px solid transparent;
          border-left: 124px solid $bg-color-1;
          bottom: 315px;
          left: -91px;
        }
        .carousel-indicators {
          li,
          .active {
            width: 13px;
            height: 13px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        width: 450px;
        min-height: 430px;
        color: #fff;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        img {
          width: 100px;
          border-radius: 100px;
        }
        span {
          display: block;
          margin: 3px 0 0 0;
        }
        p {
          margin: 25px 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 320px) {
  .section {

    &__reference {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin-top: 70px;
      margin-bottom: 30px;
      .mobile {
      display: flex !important;
      background: #ffffff;
      max-width: 700px;
      height: 680px;
      clip-path: polygon( 20% 0%, 70% 0%, 100% 0, 100% 90%, 80% 100%, 30% 100%, 0 100%, 0% 10%);
      //position: relative;
      //top: 54px;
      //left: -154px;

      &::after {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 120px solid transparent;
       // border-bottom: 120px solid transparent;
      //  border-left: 120px solid $bg-color-1;
        top: 10px;
        left: 90px;
      }
      &::before {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 70px solid transparent;
       // border-bottom: 70px solid transparent;
       // border-left: 70px solid $bg-color-1;
        right: -623px;
        top: 450px;
      }
      .carousel {
       // position: absolute;
       //top: 110px;
       // left: 122px;
        .carousel-indicators {
          bottom: 40px;
          li,
          .active {
            width: 18px;
            height: 18px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
            margin-right: 7px;
            margin-left: 7px;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        //width: 320px;
        min-height: 590px;
        background: white;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        padding: 50px 15px 0 15px;
        img:nth-child(1) {
          width: 115px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: inline;
          margin: 3px 0 0 0;
          line-height: 15px;
        }
        p:nth-child(2) {
        }
        p {
          margin: 25px 0 0 0;
          font-size: 1.07rem;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
      }
      &__box-left {
        display:none !important;
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img:nth-child(1) {
          }
          span {
          }
          p:nth-child(2) {
          }
          p {
          }
          img:nth-child(4) {
          }
        }
      }
      &__box-right {
        display:none !important;
        svg {
        }
        .path {
          stroke-dasharray: 1550;
          stroke-dashoffset: 1550;
          animation: dash 4s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img {
          }
          span {
          }
          p {
          }
        }
      }
    }
  }
   .col-5 {
    display: none;
     }
   .col-7 {
    display: none;       
     }
}

@media (min-width: 321px) and (max-width: 380px) {
  .section {

    &__reference {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 30px;
      .mobile {
      display: flex !important;
      background: #ffffff;
      max-width: 700px;
      height: 650px;
      clip-path: polygon( 20% 0%, 70% 0%, 100% 0, 100% 90%, 80% 100%, 30% 100%, 0 100%, 0% 10%);
      position: relative;
      top: 54px;
      //left: -154px;

      &::after {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 120px solid transparent;
       // border-bottom: 120px solid transparent;
      //  border-left: 120px solid $bg-color-1;
        top: 10px;
        left: 90px;
      }
      &::before {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 70px solid transparent;
       // border-bottom: 70px solid transparent;
       // border-left: 70px solid $bg-color-1;
        right: -623px;
        top: 450px;
      }
      .carousel {
        //position: absolute;
        //top: 110px;
        //left: 160px;
        .carousel-indicators {
          bottom: 40px;
          li,
          .active {
            width: 18px;
            height: 18px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
            margin-right: 7px;
            margin-left: 7px;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        //width: 320px;
        min-height: 530px;
        background: white;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        padding: 50px 15px 0 15px;
        img:nth-child(1) {
          width: 115px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: inline;
          margin: 3px 0 0 0;
          line-height: 15px;
        }
        p:nth-child(2) {
        }
        p {
          margin: 25px 0 0 0;
          font-size: 1.07rem;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
      }
      &__box-left {
        display:none !important;
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img:nth-child(1) {
          }
          span {
          }
          p:nth-child(2) {
          }
          p {
          }
          img:nth-child(4) {
          }
        }
      }
      &__box-right {
        display:none !important;
        svg {
        }
        .path {
          stroke-dasharray: 1550;
          stroke-dashoffset: 1550;
          animation: dash 4s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img {
          }
          span {
          }
          p {
          }
        }
      }
    }
  }      
      .col-5 {
       display: none;
     }
      .col-7 {
       display: none;       
      }

}

@media (min-width: 380px) and (max-width: 420px) {
  .section {

    &__reference {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-top: 20px;
      margin-bottom: 30px;
      .mobile {
      display: flex !important;
      background: #ffffff;
      max-width: 700px;
      height: 650px;
      clip-path: polygon( 20% 0%, 70% 0%, 100% 0, 100% 90%, 80% 100%, 30% 100%, 0 100%, 0% 10%);
      //position: relative;
      //top: 54px;
      //left: -154px;
      &::after {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 120px solid transparent;
       // border-bottom: 120px solid transparent;
      //  border-left: 120px solid $bg-color-1;
        top: 10px;
        left: 90px;
      }
      &::before {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 70px solid transparent;
       // border-bottom: 70px solid transparent;
       // border-left: 70px solid $bg-color-1;
        right: -623px;
        top: 450px;
      }
      .carousel {
        //position: absolute;
        //top: 110px;
        //left: 175px;
        .carousel-indicators {
          bottom: 40px;
          li,
          .active {
            width: 18px;
            height: 18px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
            margin-right: 7px;
            margin-left: 7px;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        //width: 320px;
        min-height: 530px;
        background: white;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        padding: 50px 25px 0 25px;
        img:nth-child(1) {
          width: 115px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: inline;
          margin: 3px 0 0 0;
          line-height: 15px;
        }
        p:nth-child(2) {
        }
        p {
          margin: 25px 0 0 0;
          font-size: 1.07rem;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
      }
      &__box-left {
        display:none !important;
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img:nth-child(1) {
          }
          span {
          }
          p:nth-child(2) {
          }
          p {
          }
          img:nth-child(4) {
          }
        }
      }
      &__box-right {
        display:none !important;
        svg {
        }
        .path {
          stroke-dasharray: 1550;
          stroke-dashoffset: 1550;
          animation: dash 4s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img {
          }
          span {
          }
          p {
          }
        }
      }
    }
  }
 .col-5 {
display: none;
     }
 .col-7 {
 display: none;       
    }
}

@media (min-width: 421px) and (max-width: 480px) {
  .section {
    &__reference {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-top: 20px;
      margin-bottom: 30px;
      .mobile {
      display: flex !important;
      background: #ffffff;
      max-width: 700px;
      height: 650px;
      clip-path: polygon( 20% 0%, 70% 0%, 100% 0, 100% 90%, 80% 100%, 30% 100%, 0 100%, 0% 10%);
      //position: relative;
      //top: 54px;
      //left: -154px;

      &::after {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 120px solid transparent;
       // border-bottom: 120px solid transparent;
      //  border-left: 120px solid $bg-color-1;
        top: 10px;
        left: 90px;
      }
      &::before {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 70px solid transparent;
       // border-bottom: 70px solid transparent;
       // border-left: 70px solid $bg-color-1;
        right: -623px;
        top: 450px;
      }
      .carousel {
        //position: absolute;
        //top: 110px;
        //left: 210px;
        .carousel-indicators {
          bottom: 40px;
          li,
          .active {
            width: 18px;
            height: 18px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
            margin-right: 7px;
            margin-left: 7px;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        width: auto;
        min-height: 530px;
        background: white;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        padding: 50px 25px 0 25px;
        img:nth-child(1) {
          width: 115px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: inline;
          margin: 3px 0 0 0;
          line-height: 15px;
        }
        p:nth-child(2) {
        }
        p {
          margin: 25px 0 0 0;
          font-size: 1.07rem;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
      }
      &__box-left {
        display:none !important;
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img:nth-child(1) {
          }
          span {
          }
          p:nth-child(2) {
          }
          p {
          }
          img:nth-child(4) {
          }
        }
      }
      &__box-right {
        display:none !important;
        svg {
        }
        .path {
          stroke-dasharray: 1550;
          stroke-dashoffset: 1550;
          animation: dash 4s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img {
          }
          span {
          }
          p {
          }
        }
      }
    }
  }
 .col-5 {
display: none;
     }
 .col-7 {
 display: none;       
    }
}

@media (min-width: 480px) and (max-width: 530px) {
  .section {

    &__reference {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-top: 20px;
      margin-bottom: 30px;
      .mobile {
      display: initial !important;
      background: #ffffff;
      max-width: 700px;
      height: 600px;
      clip-path: polygon( 30% 0%, 70% 0%, 100% 0, 100% 82%, 75% 100%, 30% 100%, 0 100%, 0% 20%);
      //position: relative;
      //top: 54px;
      //left: -154px;
      .col-7 {
        position: relative;
      }
      &::after {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 120px solid transparent;
       // border-bottom: 120px solid transparent;
      //  border-left: 120px solid $bg-color-1;
        top: 10px;
        left: 90px;
      }
      &::before {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 70px solid transparent;
       // border-bottom: 70px solid transparent;
       // border-left: 70px solid $bg-color-1;
        right: -623px;
        top: 450px;
      }
      .carousel {
        //position: absolute;
        //top: 110px;
        //left: 235px;
        .carousel-indicators {
          bottom: -20px;
          li,
          .active {
            width: 18px;
            height: 18px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
            margin-right: 7px;
            margin-left: 7px;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        width: auto;
        min-height: 530px;
        background: white;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        padding: 50px 25px 0 25px;
        img:nth-child(1) {
          width: 115px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: inline;
          margin: 3px 0 0 0;
          line-height: 15px;
        }
        p:nth-child(2) {
        }
        p {
          margin: 35px 0 0 0;
          font-size: 1.07rem;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
      }
      &__box-left {
        display:none !important;
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img:nth-child(1) {
          }
          span {
          }
          p:nth-child(2) {
          }
          p {
          }
          img:nth-child(4) {
          }
        }
      }
      &__box-right {
        display:none !important;
        svg {
        }
        .path {
          stroke-dasharray: 1550;
          stroke-dashoffset: 1550;
          animation: dash 4s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img {
          }
          span {
          }
          p {
          }
        }
      }
    }
  }
 .col-5 {
display: none;
     }
 .col-7 {
 display: none;       
    }
}

@media (min-width: 530px) and (max-width: 575px) {
  .section {

    &__reference {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-top: 20px;
      margin-bottom: 30px;
      .mobile {
      display: flex !important;
      background: #ffffff;
      max-width: 700px;
      height: 600px;
      clip-path: polygon( 30% 0%, 70% 0%, 100% 0, 100% 82%, 75% 100%, 30% 100%, 0 100%, 0% 20%);

      //position: relative;
      //top: 54px;
      //left: -154px;
      .col-7 {
        position: relative;
      }
      &::after {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 120px solid transparent;
       // border-bottom: 120px solid transparent;
      //  border-left: 120px solid $bg-color-1;
        top: 10px;
        left: 90px;
      }
      &::before {
        display: none;
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
       // border-top: 70px solid transparent;
       // border-bottom: 70px solid transparent;
       // border-left: 70px solid $bg-color-1;
        right: -623px;
        top: 450px;
      }
      .carousel {
        //position: absolute;
        //top: 110px;
        //left: 265px;
        .carousel-indicators {
          bottom: 40px;
          li,
          .active {
            width: 18px;
            height: 18px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
            margin-right: 7px;
            margin-left: 7px;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        width: auto;
        min-height: 530px;
        background: white;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        padding: 50px 25px 0 25px;
        img:nth-child(1) {
          width: 115px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: inline;
          margin: 3px 0 0 0;
          line-height: 15px;
        }
        p:nth-child(2) {
        }
        p {
          margin: 35px 0 0 0;
          font-size: 1.07rem;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
      }
      &__box-left {
        display:none !important;
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img:nth-child(1) {
          }
          span {
          }
          p:nth-child(2) {
          }
          p {
          }
          img:nth-child(4) {
          }
        }
      }
      &__box-right {
        display:none !important;
        svg {
        }
        .path {
          stroke-dasharray: 1550;
          stroke-dashoffset: 1550;
          animation: dash 4s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img {
          }
          span {
          }
          p {
          }
        }
      }
    }
  }
 .col-5 {
display: none;
     }
 .col-7 {
 display: none;       
    }
}

@media (min-width: 575px) and (max-width: 768px) {
  .section {
    .container {
      max-width: 555px;
    }
    &__reference {
      .mobile {
      display: initial !important;
      background: #ffffff;
      max-width: 700px;
      height: 650px;
      position: relative;
      top: 54px;
      left: -125px;
      .col-7 {
        position: relative;
      }
      &::after {
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 120px solid transparent;
        border-bottom: 120px solid transparent;
        border-left: 120px solid $bg-color-1;
        top: 10px;
        left: 90px;
      }
      &::before {
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 70px solid transparent;
        border-bottom: 70px solid transparent;
        border-left: 70px solid $bg-color-1;
        right: -623px;
        top: 450px;
      }
      .carousel {
        position: absolute;
        top: 110px;
        left: 140px;
        .carousel-indicators {
          li,
          .active {
            width: 13px;
            height: 13px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        width: 470px;
        min-height: 430px;
        background: white;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        padding: 20px 0 0 0;
        img:nth-child(1) {
          width: 100px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: block;
          margin: 3px 0 0 0;
        }
        p:nth-child(2) {
        }
        p {
          margin: 25px 0 0 0;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
      }
      &__box-left {
        display:none !important;
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img:nth-child(1) {
          }
          span {
          }
          p:nth-child(2) {
          }
          p {
          }
          img:nth-child(4) {
          }
        }
      }
      &__box-right {
        display:none !important;
        svg {
        }
        .path {
          stroke-dasharray: 1550;
          stroke-dashoffset: 1550;
          animation: dash 4s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img {
          }
          span {
          }
          p {
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .section {
    &__reference {
      .mobile {
      display: initial !important;
      background: #ffffff;
      max-width: 700px;
      height: 650px;
      position: relative;
      top: 54px;
      left: -10px;
      .col-7 {
        position: relative;
      }
      &::after {
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 120px solid transparent;
        border-bottom: 120px solid transparent;
        border-left: 120px solid $bg-color-1;
        top: 10px;
        left: 90px;
      }
      &::before {
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 120px solid transparent;
        border-bottom: 120px solid transparent;
        border-left: 120px solid $bg-color-1;
        right: -660px;
        top: 400px;
      }
      .carousel {
        position: absolute;
        top: 110px;
        left: 140px;
        .carousel-indicators {
          li,
          .active {
            width: 13px;
            height: 13px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        width: 470px;
        min-height: 430px;
        background: white;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        padding: 20px 0 0 0;
        img:nth-child(1) {
          width: 100px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: block;
          margin: 3px 0 0 0;
        }
        p:nth-child(2) {
        }
        p {
          margin: 25px 0 0 0;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
      }
      &__box-left {
        display:none !important;
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img:nth-child(1) {
          }
          span {
          }
          p:nth-child(2) {
          }
          p {
          }
          img:nth-child(4) {
          }
        }
      }
      &__box-right {
        display:none !important;
        svg {
        }
        .path {
          stroke-dasharray: 1550;
          stroke-dashoffset: 1550;
          animation: dash 4s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img {
          }
          span {
          }
          p {
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section {
    &__reference {
      .mobile {
      display: initial !important;
      background: #ffffff;
      max-width: 700px;
      height: 650px;
      position: relative;
      top: 54px;
      left: 110px;
      .col-7 {
        position: relative;
      }
      &::after {
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 120px solid transparent;
        border-bottom: 120px solid transparent;
        border-left: 120px solid $bg-color-1;
        top: 10px;
        left: 90px;
      }
      &::before {
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 150px solid transparent;
        border-bottom: 150px solid transparent;
        border-left: 150px solid $bg-color-1;
        right: -710px;
        top: 370px;
      }
      .carousel {
        position: absolute;
        top: 110px;
        left: 140px;
        .carousel-indicators {
          li,
          .active {
            width: 13px;
            height: 13px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        width: 470px;
        min-height: 430px;
        background: white;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        padding: 20px 0 0 0;
        img:nth-child(1) {
          width: 100px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: block;
          margin: 3px 0 0 0;
        }
        p:nth-child(2) {
        }
        p {
          margin: 25px 0 0 0;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
      }
      &__box-left {
        display:none !important;
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img:nth-child(1) {
          }
          span {
          }
          p:nth-child(2) {
          }
          p {
          }
          img:nth-child(4) {
          }
        }
      }
      &__box-right {
        display:none !important;
        svg {
        }
        .path {
          stroke-dasharray: 1550;
          stroke-dashoffset: 1550;
          animation: dash 4s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img {
          }
          span {
          }
          p {
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .section {
    &__reference {
      .mobile {
      display: initial !important;
      background: #ffffff;
      max-width: 700px;
      height: 650px;
      position: relative;
      top: 54px;
      left: 200px;
      .col-7 {
        position: relative;
      }
      &::after {
        content: "";
        position: absolute;
        transform: rotateZ(225deg);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 120px solid transparent;
        border-bottom: 120px solid transparent;
        border-left: 120px solid $bg-color-1;
        top: 10px;
        left: 90px;
      }
      &::before {
        content: "";
        position: absolute;
        transform: rotateZ(45deg);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 150px solid transparent;
        border-bottom: 150px solid transparent;
        border-left: 150px solid $bg-color-1;
        right: -710px;
        top: 370px;
      }
      .carousel {
        position: absolute;
        top: 110px;
        left: 140px;
        .carousel-indicators {
          li,
          .active {
            width: 13px;
            height: 13px;
            border-radius: 50px;
            border: 1px solid #838383;
            background-color: #fff;
            cursor: pointer;
          }
          .active {
            background-color: #ababab;
          }
        }
      }
      .carousel-item {
        width: 470px;
        min-height: 430px;
        background: white;
        text-align: center;
        font-size: 0.8em;
        font-family: $text-font-1;
        letter-spacing: 0.4px;
        padding: 20px 0 0 0;
        img:nth-child(1) {
          width: 100px;
          border-radius: 100px;
        }
        span {
          color: $bg-color-1;
          display: block;
          margin: 3px 0 0 0;
        }
        p:nth-child(2) {
        }
        p {
          margin: 25px 0 0 0;
        }
        img:nth-child(4) {
          margin: 40px 0 0 0;

          height: 20px;
        }
      }
      }
      &__box-left {
        display:none !important;
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img:nth-child(1) {
          }
          span {
          }
          p:nth-child(2) {
          }
          p {
          }
          img:nth-child(4) {
          }
        }
      }
      &__box-right {
        display:none !important;
        svg {
        }
        .path {
          stroke-dasharray: 1550;
          stroke-dashoffset: 1550;
          animation: dash 4s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
        .carousel {
          &::after {
          }
          .carousel-indicators {
            li,
            .active {
            }
            .active {
            }
          }
        }
        .carousel-item {
          img {
          }
          span {
          }
          p {
          }
        }
      }
    }
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .section {
    &__reference {
      &__box-left {
        right: 141px;
      }
      &__box-right {
        svg {
          left: 105px;
        }
        .carousel {
          left: 175px;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .section {
    &__reference {
      &__box-left {
        right: 141px;
      }
      &__box-right {
        svg {
          left: 105px;
        }
        .carousel {
          left: 175px;
        }
      }
    }
  }
}
.svg-3 {
//  display: none;
}
