.social-media {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20%;
    left: 0;
    z-index: 9999999;
    @media (max-width: 550px)
    {
        flex-direction: row;
        top: 0;
        margin-left: 20px;
    }
    .facebook {
        height: 40px;
        width: 40px;
        background: #3B5998;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.5s;

        i {
            color: white;
            font-size: 1.6rem;
            &::before {
                @media (max-width: 550px)
                {
                    display: block;
                }
            }
        }
        &:hover {
            width: 50px;
            @media (max-width: 550px)
            {
                width: 40px;
                height: 50px;
            }
        }
    }
    .linkedin {
        cursor: pointer;
        margin-top: 10px;
        height: 40px;
        width: 40px;
        background: #0077B5;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.5s;
        @media (max-width: 550px)
        {
            margin-top: 0;
            margin-left: 10px;
        }
        i {
            color: white;
            font-size: 1.6rem;
            &::before {
                @media (max-width: 550px)
                {
                    display: block;
                }
            }
        }
        &:hover {
            width: 50px;
            @media (max-width: 550px)
            {
                width: 40px;
                height: 50px;
            }
        }
    }
}