.team-section-container {
    // background-color: lightblue;
    font-family: "Roboto", sans-serif;
    display: flex;
    position: relative;
}

p {
    color: white;
}



.main-text {
    // background-color: rgb(204, 119, 21);
    width: 600px;
    margin: 10% 0 10% 0;
    z-index: 5;
}




.members {
    // background-color: rgb(139, 32, 134);
    display: flex;
    width: 100%;
    z-index: 5;
}




.max-member-container {
    // background-color: rgba(11, 105, 66, 0.164);
    flex: 2 2 50%;
    margin-left: 0;
    top: 8%;
    position: relative;
}



.max-photo {
    &:before {
        position: absolute;
        color: white;
        top: 45%;
        left: 25%;
        content: 'Wybierz osobę'
    }
    // background-image: url("/assets/images/members/chlopak.jpg");
    background-color: rgba(177, 185, 230, 0.37);
    position: absolute;
    margin-top: 14%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.max-member-paragraphs {
    // background-color: hotpink;
    display: flex;
    flex: 1 1 100%;
    margin-top: 7%;
}

.max-name-surname {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
}

.max-member-info-details {
    // background-color: rgb(64, 57, 95);
    flex: 1 1 100%;
}






.members-thumbnails-container {
    flex: 2 2 50%;
    // background-color: rgb(144, 170, 226);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.one-thumbnail-container {
    // background-color: rgb(230, 215, 84);
    display: flex;
    margin: 5px;
}

.thumb-img {
    border-radius: 50% !important;
}

.thumb-name-surname {
    padding: 1px;
    font-size: 13px;
}




.section-team-background {
    background-color: rgb(83, 112, 74);
    z-index: 1;
}
.giant-header-members {
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    opacity: 0.1;
    font-size: 122px;
    position: absolute;
    top: 39%;
    left: 14%;
}
