.main-text {
    background-color: gray;
}

.about-member {
    background-color: rgb(166, 226, 201);
}

.members-thumbnails {
    background-color: rgb(144, 170, 226);
}

.member-thumb {
    background-color: rgb(199, 199, 199);
    border-radius: 50%; 
}